fastapi==0.128.0
uvicorn==0.39.0
gunicorn==20.1.0

numpy==1.23.5
scipy==1.13.1
pandas==2.3.3

scikit-learn==1.2.2
joblib==1.5.1

torch==2.2.2
torchvision==0.17.2

pillow==11.3.0
networkx==3.2.1

pydantic==2.12.5
starlette==0.49.3
typing-extensions==4.15.0
